<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- 配置Controller扫描 -->
	<context:component-scan base-package="com.yan1less.otakus.controller" />
	
		<context:property-placeholder location="classpath:resource.properties" />
	
	<!-- 配置注解驱动 -->
	<mvc:annotation-driven />

	<!--上传图片实现类-->
	<bean  id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
		<property name="maxUploadSize" value="104857600" />
		<property name="maxInMemorySize" value="10240000" />
		<property name="defaultEncoding" value="UTF-8">

		</property>
	</bean>

	<!-- 对静态资源放行  -->
	<mvc:resources location="/WEB-INF/front/css/" mapping="/css/**"/>
	<mvc:resources location="/WEB-INF/front/js/" mapping="/js/**"/>
	<mvc:resources location="/WEB-INF/front/images/" mapping="/images/**"/>

	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<!--<property name="prefix" value="/WEB-INF/" />-->
		<!-- 后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	<mvc:default-servlet-handler></mvc:default-servlet-handler>
</beans>
	
